apiVersion: v1
kind: Service
metadata:
  name: devops-todo-api-service
  labels:
    app: devops-todo-api
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: devops-todo-api
